<h1>Hello, STP!</h1>
<p>Please don't judge the lack of design :)</p>
<h3>Things I wanted to implement but couldn't because of lack of time.</h3>
<ul>
  <li><p>More unit tests.</p></li>
  <li><p>Documents and image handling. I implemented image upload but there was some strange problem. I spent a couple of hours trying to fix it but I couldn't</p></li>
  <li><p>Create base generic service taht will handle the common requests</p></li>
  <li><p>Validations, validations, validations</p></li>
  <li><p>Exceptions handling</p></li>
  <li><p>Swagger</p></li>
  <li><p>Better looking date picker.</p></li>
  <li><p>Fix some bugs like not seeing the date in the edit page.</p></li>
  <li><p>Better front-end urls and folder structure and the functionalities I have end-points for.</p></li>
  <li><p>Delete button.</p></li>
</ul>
