<h1 id="tableLabel">Companies</h1>
<div *ngIf="companies" class="input-group mb-3">
  <input [(ngModel)]="searchInputValue" type="text" class="form-control" placeholder="Search" aria-label="Company name" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" (click)="onSearch()">Search</button>
  </div>
</div>

<p *ngIf="!companies"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="companies">
  <thead>
    <tr>
      <th>Company</th>
      <th>Creation date</th>
      <th>Number of offices</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let company of companies.companies">
      <td>
        <a [routerLink]="['/company-details', company.id]"
          >{{ company.name }}</a>
      </td>
      <td>{{ company.creationDate | date : 'dd-MMMM-yyyy' }}</td>
      <td>{{ company.officesCount }}</td>
    </tr>
  </tbody>
</table>

<ngb-pagination *ngIf="companies" [(page)]="companies.page"
                [pageSize]="5"
                [collectionSize]="companies.total" (pageChange)="onCompanyPageChange($event)"></ngb-pagination>

<a class="btn btn-primary" [routerLink]="['/company-create']"
  >Create company
</a>
